.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50px;
    left: 120px;
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
    font-size: 16px;
    border: solid;
    border-width: 1px;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: #313131;
    font-size: 16px;
    cursor: pointer;
}
.error {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}
button{
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.15s;
}
button:hover, .add-button:hover {
    opacity: 0.7;
}
button:active, .add-button:active {
    opacity: 0.4;
}